<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.jiaoxf.pojo"/>
	</typeAliases>
	<environments default="mysql01">
		<environment id="mysql01">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
				<property name="username" value="root"/>
				<property name="password" value="jiao13xf"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/jiaoxf/mapper/AccountMapper.xml"/>
		<mapper resource="com/jiaoxf/mapper/LogMapper.xml"/>
	</mappers>
</configuration>